<!-- <app-slider [nombre]="'Detalle del articulo'" [tamano]="'small'"></app-slider> -->
<div class="center">
  <section id="content">
    <h1 class="subheader">Detalle del articulo</h1>

    <article class="article-item article-detail" *ngIf="article">
      <div class="image-wrap">
        <img
          src="{{ article.image ?  url +'/get-image/' + article.image:'https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg' }}"
          alt="{{article.title }}" />
      </div>

      <h1 class="subheader">{{ article.title }}</h1>
      <span class="date">
        {{article.date |amLocale:'es'|amTimeAgo}}
      </span>
      <p>
        {{article.content}}
      </p>


      <a href="" class="btn btn-success" [routerLink]="['/blog/editar', article._id]"
        routerLinkActive="router-link-active">Editar</a>
      <a (click)="deleteArticle(article._id)" class="btn">Eliminar</a>

      <div class="clearfix"></div>
    </article>

  </section>
  <app-sidebar></app-sidebar>
</div>
