<app-slider [nombre]="'Pagina'"></app-slider>
<div class="center">
  <section id="content">

    <h1 class="subheader">Pagina de prueba</h1>
    <p *ngIf="fullname">{{fullname}}</p>

    <div *ngIf="nombre && apellidos;else nohayparametros">
      <h2>El nombre es: {{nombre}}</h2>
      <h2>El apellido es: {{apellidos}}</h2>
    </div>

    <ng-template #nohayparametros>
      <h2>no hay parametros</h2>
    </ng-template>
    <button (click)='redireccion()'>Redireccionar</button>



  </section>
  <app-sidebar></app-sidebar>
</div>
