<app-slider [nombre]="'Peliculas'" [tamano]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <div id="favorita" *ngIf="favorito">
      <h2 class="subheader">
        Pelicula favorita
      </h2>
      <h4>

        {{favorito.titulo|lowercase}}
      </h4>
      <h4>

        {{favorito.anio|espar}}
      </h4>
    </div>

    <div id="articles" *ngIf="peliculas">
      <div *ngFor="let item of peliculas;let i=index;">
        <app-pelicula [item]="item" [i]="i" (MarcarFavorito)="pMostrarFavorito($event)"></app-pelicula>
      </div>
    </div>
  </section>
  <app-sidebar></app-sidebar>
</div>
