<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="assets/images/angular.svg" class="app-logo" alt="Logotipo" />
            <span id="brand">
                <strong>Curso</strong>Angular
            </span>
        </div>

        <!-- MENU -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLinkActive]="['active']" [routerLink]="['/home']">Inicio</a>
                </li>
                <li>
                    <a [routerLinkActive]="['active']" [routerLink]="['/blog']">Blog</a>
                </li>
                <li>
                    <a [routerLinkActive]="['active']" [routerLink]="['/formulario']">Formulario</a>
                </li>
                <li>
                    <a [routerLinkActive]="['active']" [routerLink]="['/peliculas']">Peliculas</a>
                </li>
                <li>
                    <a [routerLinkActive]="['active']" [routerLink]="['/pagina']">Pagina</a>
                </li>
            </ul>
        </nav>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>