<div id="slider" [ngClass]="{'slider-big':!tamano || tamano==='big','slider-small':tamano==='small'}">
  <h1>{{nombre}}</h1>
  <a [routerLink]="['/blog']" class="btn-white" *ngIf="tamano!=='small'">Ir al blog</a>
</div>
