<div class="center">
  <section id="content">
    <h1 class="subheader">{{titulo}}</h1>


    <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />
        <small *ngIf="!title.valid && title.touched">El titulo no es valido</small>
      </div>

      <div class="form-group">
        <label for="content">Contenido</label>
        <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
        <small *ngIf="!content.valid && content.touched">El contenido no es valido</small>

      </div>

      <div class="form-group">
        <div class="image-thumb" *ngIf="isedit">
          <img
          src="{{ article.image ?  url +'/get-image/' + article.image:'https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg' }}"
          alt="{{article.title }}" />
        </div>
        <angular-file-uploader
        [config]="afuConfig"
        (ApiResponse)="imageUpload($event)">>
        </angular-file-uploader>
      </div>



      <!-- <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellido" #apellidos="ngModel" [(ngModel)]="user.apellidos" required />
        <small *ngIf="!apellidos.valid && apellidos.touched">El apellido no es valido</small>

      </div>

      <div class="form-group">
        <label for="bio">Biografia</label>
        <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
        <small *ngIf="!bio.valid && bio.touched">La biografia no es valido</small>

      </div>

      <div class="form-group radibuttons">
        <input type="radio" name="genero" #genero="ngModel" value="hombre" [(ngModel)]="user.genero" required/> Hombre
        <input type="radio" name="genero" #genero="ngModel" value="mujer" [(ngModel)]="user.genero" /> Mujer
        <input type="radio" name="genero" #genero="ngModel" value="otro" [(ngModel)]="user.genero" /> Otro
        <small *ngIf="!genero.valid && genero.touched">El genero no es valido</small>
      </div> -->


      <input type="submit" value="Enviar" class="btn btn-success" [disabled]="articleForm.invalid" />

    </form>



  </section>
  <app-sidebar></app-sidebar>
</div>
