<article class="article-item" id="article-template">
  <div class="image-wrap">
    <img src={{item.img}} alt={{item.titulo}} />
  </div>

  <h2>{{i +' ' + item.titulo}}</h2>
  <span class="date">
    Hace 5 minutos
  </span>
  <!-- [style.color]="item.anio>2019 ? 'red':'green'" -->
  <!-- [class.year-green]="item.anio>2019" -->
  <span class="year" [ngClass]="{'year-green':item.anio > 2019,'year-red':item.anio<=2019 }">
    {{item.anio}}
  </span>
  <a>Leer más</a>

  <button (click)="seleccionar($event,item)">Seleccionar como favorita</button>

  <div class="clearfix"></div>
</article>
