<div class="loading" *ngIf="!articles">
  <h1 class="subheader">No hay articulos</h1>
</div>

<div id="articles" *ngIf="articles">
  <article class="article-item" id="article-template" *ngFor="let article of articles">
    <div class="image-wrap">
      <img
        src="{{ article.image ?  url +'/get-image/' + article.image:'https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg' }}"
        alt="{{article.title }}" />
    </div>

    <h2>{{article.title}}</h2>
    <span class="date">
      {{article.date|amLocale:'es'|amDateFormat:'LL'}}
    </span>
    <a [routerLink]="['/blog/article/' , article._id]" routerLinkActive="router-link-active">Leer más</a>

    <div class="clearfix"></div>
  </article>
</div>
