<app-slider [nombre]="'Blog'" [tamano]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <h1 class="subheader">Blog</h1>


      <app-article [articles]="articles"></app-article>


  </section>
  <app-sidebar></app-sidebar>
</div>
