<app-slider [nombre]="'Bienvenido al Curso de Angular con Víctor Robles de victorroblesweb.es'"></app-slider>
<div class="center">
  <section id="content">
    <h1 class="subheader">Home</h1>
    <app-article [articles]="articles"></app-article>
  </section>
  <app-sidebar></app-sidebar>
</div>
