<app-slider [nombre]="'Formulario'" [tamano]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <h1 class="subheader">Formulario</h1>
    <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required />
        <small *ngIf="!nombre.valid && nombre.touched">El nombre no es valido</small>
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellido" #apellidos="ngModel" [(ngModel)]="user.apellidos" required />
        <small *ngIf="!apellidos.valid && apellidos.touched">El apellido no es valido</small>

      </div>

      <div class="form-group">
        <label for="bio">Biografia</label>
        <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
        <small *ngIf="!bio.valid && bio.touched">La biografia no es valido</small>

      </div>

      <div class="form-group radibuttons">
        <input type="radio" name="genero" #genero="ngModel" value="hombre" [(ngModel)]="user.genero" required/> Hombre
        <input type="radio" name="genero" #genero="ngModel" value="mujer" [(ngModel)]="user.genero" /> Mujer
        <input type="radio" name="genero" #genero="ngModel" value="otro" [(ngModel)]="user.genero" /> Otro
        <small *ngIf="!genero.valid && genero.touched">El genero no es valido</small>
      </div>

      <div class="clearfix"></div>

      <input type="submit" value="Enviar" class="btn btn-success" [disabled]="userForm.invalid" />

    </form>
    <h2 class="subheader">Eventos</h2>
    <button (click)="daleclick()" >evento click</button>
    <input type="text" [(ngModel)]="campo" (blur)="hasSalido()" (keyup)="haspresionado()" (keyup.enter)="haspresionadoEnter()">
    {{campo }}
  </section>
  <app-sidebar></app-sidebar>
</div>
