<aside id="sidebar">
  <div id="nav-blog" class="sidebar-item">
    <h3>Puedes hacer esto</h3>

    <a class="btn btn-success" [routerLink]="['/blog/crear']" routerLinkActive="router-link-active">Crear artículo</a>
  </div>

  <div id="search" class="sidebar-item">
    <h3>Buscador</h3>
    <p>Encuentra el artículo que buscas</p>
    <form #searchForm="ngForm" (ngSubmit)="buscar()">
      <input type="text" name="search" [(ngModel)]="campoBusqueda" />
      <input type="submit" name="submit" value="Buscar" class="btn" />
    </form>
  </div>
</aside>

<div class="clearfix"></div>
