<app-slider [nombre]="'Busqueda:'+ busqueda" [tamano]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <h1 class="subheader">Articulos encontrados</h1>
    <app-article [articles]="articles" ngi></app-article>
  </section>
  <app-sidebar></app-sidebar>
</div>
